*{
    padding: 0;
    margin: 0;
   
}
.start{
    width: 24%;
    height: 50%;
    box-shadow: 0px 4px 10px #00000090;
    margin: 100px;
    border-radius: 15px;
    
}
.start header{
    font-size: larger;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}
.sign input{
   
    height: 20px;
    border-radius: 3px;
    text-align: center;
    margin: 10px;
    font-size: 1rem;
    height: 25px;
    
}
.sign{
    margin-left: 25px;
}
.sign select{
    margin: 1%;
    height: 30px;
    margin-bottom: 2%;
}
.select select{
    padding-bottom: 10px;
    padding: 1%;
    height: 40px;
    margin-top: 10px;
    width: 90%;
}
.button input{
    height: 36px;
    font-size: 1rem;
    margin: 2%;
    margin-left: 25px;
    margin-bottom: 8%;
    background: orange;
    border: 1px solid;
    border-radius: 2px;
    width: 20%;
}
.button:hover{
    background: #000;
}
