*{
    margin: 0%;
    padding: 0%;
}
.bat{
    font-size: 25px;
    padding-left: 0%;
    text-align: center;
    padding-top: 4%;
    cursor: pointer;
}
.bat:hover{
    background: #000;
    color: white;
}
.nav{
    display: grid;
    grid-template-columns: 8% 8% 8%;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    gap: 110px;
    position: sticky;
    top: 0%;
    width: 100%;
    background: white;
}
.section1{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    height: 80vh;
    gap: 20px;
    padding-left: 14.5%;
    margin-top: 4%;
}
.boxi{
    width: 100%;
    height: 100%;
}
.boxi img{
    width: 100%;
    height: 55vh;
}
#content{
    font-size: 24px;
    text-align: center;
    line-height: 35px;
    margin-top: 3%;
}
#matter{
    font-size: 17px;
    text-align: center;
    margin-top: 5%;
}
.numb{
    display: grid;
    grid-template-columns: 2% 2% 2% 2% 2% 2%;
    justify-content: center;
    height: 6vh;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
}
.no{
    font-size: 12px;
    padding-top: 55%;
    text-align: center;
    height: 4vh;
}
.no1{
    background: rgb(12, 12, 12);
    font-size: 20px;
    padding-top: 20%;
    height: 4vh;
    text-align: center;
    color: white;
}
.no2{
    font-size: 17px;
    padding-top: 35%;
    text-align: center;
    height: 4vh;
}
.no3{
    height: 4vh;
    padding-top: 35.5%;
    text-align: center;
    font-size: 16;
}
.no4{
    height: 4vh;
    padding-top: 39%;
    text-align: center;
    font-size: 14px;
}
.no5{
    height: 4vh;
    padding-top: 55%;
    text-align: center;
    font-size: 12px;
}
.middle{
    text-align: center;
    font-size: 25px;
    margin-top: 4%;
    margin-bottom: 2%;
}
.chef1{
    width: 100%;
    height: 75vh;
    margin-bottom: 1%;
}
.chef{
    width: 50%;
    margin: auto;
    margin-top: 1%;
    height: 75vh;
}
.chef img{
    width: 100%;
    height: 100%;
}
.middle2{
    text-align: center;
    font-size: 25px;
    margin-top: 3%;
}
.middle3{
    text-align: center;
    font-size: 17.5px;
    margin-top: 1%;
}
.middle4{
    padding-right: 12.5%;
    padding-left: 14%;
    margin-top: 1.6%;
    text-align: center;
    font-size: 17px;
    margin-bottom: 4%;
}
.last{
    display: grid;
    grid-template-columns: 28% 28% 30%;
    height: 30vh;
    gap: 12px;
    padding-left: 13%;
    margin-top: 10%;
    margin-bottom: 2%;
}
.last1{
    width: 100%;
    height: 100%;
}
.last1 h6{
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 2%;
}
.last1 p{
    font-size: 17px;
    font-weight: 100;
}
#idid{
    margin-top: 4%;
}
.last2{
    width: 100%;
    height: 100%;
}
.last2 h6{
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 2%;
}
.image{
    width: 15%;
    height: 8vh;
    margin-bottom: 5%;
    margin-top: 2%;
}
.image img{
    width: 100%;
    height: 100%;
}
.lorem{
    display: flex;
    border-bottom: 0.5px solid;

}
.lorem:hover{
    background: #c0bebe;
}
.lorem1{
    display: flex;
    margin-top: 2%;

}
.lorem1:hover{
    background: #c0bebe;
}
.pp{
    margin-left: 4%;
    padding-top: 3%;
}
#id1{
    margin: 2%;
    margin-bottom: 3%;
    font-size: 22px;
}
#id2{
    font-size: 17px;
}
#pop{
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 4%;
}
.travel{
    font-size: 15px;
    background: #565555;
    color: white;
    text-align: center;
}
.edu{
    display: grid;
    grid-template-columns: repeat(5,16%);
    justify-content: space-evenly;
    gap: 10px;
    line-height: 28px;
}