*{
    padding: 0;
    margin: 0;
    
}
.nav{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    background: rgb(255, 255, 255);
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.2rem;
    position: sticky;
    top: 0%;
    z-index: 1;
}
.anchors{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2rem;
}
.anchors a{
    text-decoration: none;
    color: black;
}
.pht{
    width: 100%;
    position: relative;
}
.pht img{
    width: 100%;
}
.att{
    position: absolute;
    top: 48%;
    left: 42%;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
}
.rb{
    background: #000000;
    color: #ffffff;
    padding: 3%;
    opacity: 0.8;
    margin-right: 3%;
}
.rbb{
    color: #ffffff;
}
.project{
    font-size: 2.1rem;
    margin-top: 4%;
    padding-left: 3%;
}
.main{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    margin-top: 2.5%;
    padding-left: 3%;
    padding-right: 3%;
}
#m1{
    width: 100%;
    height: 25vh;
    position: relative;
}
#m1 img{
    width: 100%;
    height: 100%;
}
p1{
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    background: #000;
    color: white;
}
#ap{
    font-size: 2rem;
    margin-top: 2%;
    padding: 1%;
    padding-left: 3%;
}

.trd{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2%;
    padding: 2%;
    padding-right: 3%;
}
.afri{
    width: 100%;
    height: 50vh;
}
.afri img{
    width: 100%;
    height: 30vh;
}
.afri h4{
    font-size: 1.2rem;
    padding: 1%;
}
.afri p{
    font-size: 1rem;
    padding: 1%;
}
.afri button{
    width: 90%;
    margin: 1%;
    margin-left: 3%;
    height: 4vh;
}
#let{
    font-size: 1.2rem;
    padding: 1%;
    padding-left: 3%;
}
.last{
    padding: 1%;
    padding-left: 3%;
    padding-right: 5%;
    margin-bottom: 3%;
    width: 100%;

}
.last input{
    width: 80%;
    height: 5vh;
    margin: 0.5%;
    border: none;
    border-bottom: 1px solid;
}
input::placeholder{
    font-size: 1rem;
}
.last button{
    margin: 1.5%;
    width: 14%;
    height: 4vh;
    background: #000;
    color: white;
}
.last button:hover{
    background: #ffffff;
    color: #000000;
}
.rod{
    width: 100%;
}
.rod img{
    width: 100%;
}
@media screen and (width<576px) {
    .nav{
        font-size: 0.6rem;
        height: 4vh;
    }
    .pht{
        width: 100%;
    }
    .main{
        display: grid;
        grid-template-columns: auto;
    }
    .main #m1{
        width: 100%;
        height: 18vh;
    }
    #lin{
        width: 100%;
    }
    .trd{
        display: grid;
        grid-template-columns: auto;
        overflow: hidden;
        overflow: scroll;
        scrollbar-width: none;
    }
    .last{
        width: 100%;
    }
    
}
@media screen and (width>576px) and (width<786px) {
    .nav{
        height: 5vh;
    }
    .pht{
        width: 100%;
    }
    .main{
        display: grid;
        grid-template-columns: auto auto;
    }
    .main #m1{
        width: 100%;
        height: 20vh;
    }
    #lin{
        width: 100%;
    }
    .trd{
        display: grid;
        grid-template-columns: auto auto;
    }
    .last{
        width: 100%;
    }
}
@media screen and (width>786px) and (width<992px) {
    .nav{
        height: 5.5vh;
    }
    .pht{
        width: 100%;
    }
    .main{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .main #m1{
        width: 100%;
        height: 22vh;
    }
    #lin{
        width: 100%;
    }
    .trd{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .last{
        width: 100%;
    }
}
@media screen and (width>992) and (width<1200px) {
    .nav{
        height: 6vh;
    }
    .pht{
        width: 100%;
    }
    .main{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .main #m1{
        width: 100%;
        height: 25vh;
    }
    #lin{
        width: 100%;
    }
    .trd{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}
@media screen and (width>1200px) {
    .nav{
        height: 6vh;
    }
    .pht{
        width: 100%;
    }
    .main{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .main #m1{
        width: 100%;
        height: 25vh;
    }
    #lin{
        width: 100%;
    }
    .trd{
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    .last{
        width: 100%;
    }
}